/* Set CSS variables */
:root {
    --mcb: rgb(9,92,212);
    --red: rgb(255,0,0);
    --mcy: rgb(251,208,0);
    --mcg: rgb(67,176,71);
    --mclb: rgb(9,181,212);
    --bsb: rgba(0, 0, 0, 0.397);
    --purple: rgb(128,0,128);
    --ccblue: #1383D9;
    --ccred: #D82613;
    --ccyellow: #D8AA13;
    --ccgreen: #13D8AA;
    --ccpurple: #9014D9;
    --ccorbr: #D86813;
    --White:rgb(255,255,255);
    --Black:rgb(0,0,0);
    --SpanishBlue:#076FBE;
    --IntOrangeEng:#BB1806;
    --KRYellow:#f5df4d;
    --KRRed:#f56e4d;
    --KRBlue:#4D63F5;
    --KRGreen:#63F54D;
    --JBGrey:rgb(133,137,138);
    --GoogleRed:#ea4335;
    --GoogleGreen:#34a853;
    --GoogleYellow:#fbbc05;
    --GoogleBlue:#4285F4;
    --NewKRTeal:#12eaea;
    --NewKRBlue:#1111e8;
    --NewKRRed:#e81111;
    --NewKRYellow:#e8e811;
}

/* Background settings */
body {
    background-color: var(--NewKRTeal);
    /*font-family:Verdana, Geneva, Tahoma, sans-serif; */
    font-family: Roboto, Geneva, Tahoma, sans-serif;
}

/* Hide */
.hidden {
    display:none;
}

/* Fixed Menu Settings */
.container-fixed-menu {
    display:inline-block;
    cursor:pointer;
    position: fixed;
    background-color: var(--White);
    border-radius: 8px;
    padding: 5px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--Black);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.sidenav {
    width: 140px;
    position:fixed;
    z-index: 1;
    left:12px;
    background:var(--White);
    overflow-x: hidden;
    padding: 8px 0;
    border-radius: 8px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 22px;
    color:var(--Black);
    display: block;
}

.sidenav a:hover {
    color: var(--mcb);
}

.main-fixed-menu {
    margin-left:140px;
    font-size:25px;
    padding:0px 10px;
}

@media screen and (max-height:450px) {
    .sidenav {
        padding-top:15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.kr-title {
    text-align: center;
    font-size: 55px;
    display: block;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: var(--NewKRRed);
    text-shadow: var(--NewKRYellow) 2px 2px 3px, 0 0 5px var(--bsb), 0 0 10px var(--JBGrey);
    background-color: var(--NewKRBlue);
    border-radius: 5px;
    box-shadow: var(--JBGrey) 5px 5px 5px;
}

.krt-2 {
    text-align: center;
    font-size: 40px;
    display: block;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: var(--NewKRYellow);
    background-color: var(--NewKRBlue);
    border-radius: 5px;
    padding: 5px 5px;
    text-shadow: var(--NewKRRed) 2px 2px 3px;
}

.krt-3 {
    text-align: center;
    font-size: 40px;
    display: block;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: var(--ccyellow);
    background-color: var(--ccpurple);
    border-radius: 5px;
}

.krt-4 {
    text-align: center;
    font-size: 40px;
    display: block;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: var(--ccgreen);
    background-color: var(--bsb);
    border-radius: 5px;
}

.krt-5 {
    text-align: center;
    font-size: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--ccgreen);
    background-color: var(--bsb);
    border-radius: 5px;
}

.krt-reserve {
    text-align: center;
    font-size: 30px;
    display: block;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: var(--ccred);
    background-color: var(--ccyellow);
    border-radius: 5px;
}

.display {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    height: auto;
}

.box-shadow {
    box-shadow: 2px 8px 16px 2px var(--bsb);
}

/* Chef picture settings */
* {
    box-sizing:border-box;
}

.chef-column {
    float:left;
    width: 25%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.chef-row::after {
    content: "";
    clear:both;
    display: table;
}

/* Make layout responsive */
@media screen and (max-width: 500px) {
    .chef-column {
        width: 100%;
    }
}



/*w3 menu link settings*/
.w3m {
    color: var(--ccgreen);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    content:"";
    display:table;
    clear:both;
}

.w3m a {
    text-decoration: none;
    color: var(--ccyellow);
    overflow: hidden;
}

.w3m a:hover {
    background-color: var(--ccred);
    color: var(--ccyellow);
}

/* Responsive Menu Settings */
.topnav {
    overflow: hidden;
    background-color: var(--NewKRBlue);
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    border-radius: 5px;
}

.topnav a {
    display:block;
    color: var(--White);
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 16px;
    background-size: 0% 100%;
    box-shadow: var(--bsb);
}

.topnav a:hover {
    background-color: none;
    color: var(--NewKRYellow);
    background-image: linear-gradient(transparent calc(100% - 2px), var(--NewKRYellow) 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    position: relative;
    background-repeat: no-repeat;
    transition: all .3s;
}

.topnav a.active {
    background-color: none;
    color: var(--NewKRYellow);
    font-size: 14px;
    text-align: center;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.logo-display {
    border-radius: 5px;
    height: auto;
    float: left;
    width: 30%;
}

@media screen and (max-width: 600px) {
    .logo-display {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        text-align: center;
        display: block;
        width: 65%;
    }
    .active {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        text-align: center;
        display: block;
        font-size: 45px;    
    }
}

/* For desktop, tablets, and anything bigger than 768px */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* For, (hopefully, all), mobile phones */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}

.kr-menu {
    content:"";
    display:table;
    clear:both;
    color: var(--ccgreen);
    background-color: var(--bsb);
    border-radius: 5px;
    padding: 5px;
    font-size: 30px;
}

.kr-red {
    background-color: var(--NewKRRed);
    color: var(--White);
    display: block;
}

.kr-new-menu {
    display:none;
}

.blue-border {
    border: 2px solid var(--NewKRBlue);
}

.menu-display {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

/* New Menu Settings */
.new-menu {
    content:"";
    display:table;
    clear:both;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--JBGrey);
}

.new-menu-display {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: block;
}

.new-menu-title {
    background-color: var(--JBGrey);
    color:var(--White);
    font-size: 27px;
    border-radius: 5px;
    text-shadow:var(--Black) 1px 2px;
}

.new-menu-options {
    content:"";
    display:inline-block;
    clear:both;
    padding: 15px;
}

.h-menu-title {
    background-color: var(--JBGrey);
    color:var(--White);
    text-shadow: var(--Black) 1px 1px;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    text-align: center;
}

.new-menu-options-types {
    text-decoration: none;
    color: var(--White);
    border: 2px solid var(--NewKRYellow);
    text-shadow: var(--Black) 2px 1px;
    font-size:25px;
    display:inline-block;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}

.new-menu-options-types:hover {
    text-decoration: none;
    color: var(--White);
    background-color: var(--NewKRRed);
    border-radius: 5px;
    text-shadow: var(--Black) 2px 2px;
    font-size:25px;
    display:inline-block;
    padding: 5px;
}

.new-menu-options a {
    text-decoration: none;
}

.new-menu-container {
    position: relative;
    text-align: center;
    color: var(--Black);
    text-shadow: none;
    border-radius: 5px;
}

.new-menu-bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .new-menu-top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  .new-menu-top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .new-menu-bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .new-menu-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



  /* Display menu */
  @media only screen and (max-width: 450px) {
    .new-menu-names {
        width: 40%;
    }
}

  @media only screen and (min-width: 451px) {
      .new-menu-names {
          width: 35%;
      }
  }

  @media only screen and (min-width: 801px) {
    .new-menu-names {
        width: 30%;
    }
  }


  @media only screen and (max-width: 450px) {
    .new-menu-width {
        width: 85%;
    }
}

  @media only screen and (min-width: 451px) {
      .new-menu-width {
          width: 46%;
      }
  }

  @media only screen and (min-width: 801px) {
    .new-menu-width {
        width: 32%;
    }
  }

  .food-name {
      font-size: 22px;
  }

  @media only screen and (max-width: 500px) {
      .food-name {
          font-size: 13px;
      }
  }

  @media only screen and (min-width: 501px) {
    .food-name {
        font-size: 14px;
    }
}

  .food-desc {
      font-size: 20px;
  }

  @media only screen and (max-width: 500px) {
      .food-desc {
          font-size: 12px;
      }
  }

  @media only screen and (min-width: 501px) {
    .food-desc {
        font-size: 13px;
    }
}

.m-sticks {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.new-menu-text {
    text-align: center;
    background-color: var(--White);
    padding: 5px 5px 5px 5px;
    display:inline-block;
    border-radius: 5px;
}

.new-menu-item {
    color: var(--Black);
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    text-indent: var(--Black) 1px 1px;
    background-color: var(--White);
    padding: 5px 5px;
    display: block;
}

.price {
    text-align: center;
    font-size: 30px;
    color: var(--Black);
    display:inline-block;
    font-weight: bold;
    padding-right: 2px;
}

.coin {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-left: 2px;
    width: 10%;
}

@media only screen and (min-width: 351px) {
    .coin {
        width:16.5%;
    }
}

@media only screen and (min-width: 401px) {
    .coin {
        width:16%;
    }
}

@media only screen and (min-width: 451px) {
    .coin {
        width:15.5%;
    }
}

@media only screen and (min-width: 501px) {
    .coin {
        width:15%;
    }
}

@media only screen and (min-width: 551px) {
    .coin {
        width:14.5%;
    }
}

@media only screen and (min-width: 601px) {
    .coin {
        width:14%;
    }
}

@media only screen and (min-width: 651px) {
    .coin {
        width:13.5%;
    }
}

@media only screen and (min-width: 701px) {
    .coin {
        width:13%;
    }
}

@media only screen and (min-width: 751px) {
    .coin {
        width:12.5%;
    }
}

@media only screen and (min-width: 801px) {
    .coin {
        width:12%;
    }
}

@media only screen and (min-width: 851px) {
    .coin {
        width:11.5%;
    }
}

@media only screen and (min-width: 901px) {
    .coin {
        width:11%;
    }
}

@media only screen and (min-width: 951px) {
    .coin {
        width:10.5%;
    }
}

@media only screen and (min-width: 1001px) {
    .coin {
        width:10%;
    }
}

@media only screen and (min-width: 1051px) {
    .coin {
        width:9.5%;
    }
}

@media only screen and (min-width: 1101px) {
    .coin {
        width:9%;
    }
}

@media only screen and (min-width: 1151px) {
    .coin {
        width:8.5%;
    }
}

@media only screen and (min-width: 1201px) {
    .coin {
        width:8%;
    }
}

@media only screen and (min-width: 1251px) {
    .coin {
        width:7.5%;
    }
}

@media only screen and (min-width: 1301px) {
    .coin {
        width:7%;
    }
}

@media only screen and (min-width: 1351px) {
    .coin {
        width:6.5%;
    }
}

@media only screen and (min-width: 1401px) {
    .coin {
        width:6%;
    }
}

@media only screen and (min-width: 1451px) {
    .coin {
        width:5.5%;
    }
}

/* W3 Menu Settings */
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after {
    content:"";
    display:table;
    clear:both;
    text-decoration: none;
}

.w3-container,.w3-panel {
    padding:0.01em 16px
}

.w3-panel {
    margin-top:16px;
    margin-bottom:16px
}

.w3-black,.w3-hover-black:hover {
    color:#fff!important;
    background-color:#000!important
}

.w3-padding-64 {
    padding-top:60px!important;
    padding-bottom:60px!important;
}

.w3-xlarge {
    font-size:24px!important;
}

.w3-xxlarge {
    font-size:27px!important;
}

.w3-xxxlarge {
    font-size:48px!important;
}
.w3-jumbo {
    font-size:64px!important;
}

.w3-content,.w3-auto {
    margin-left:auto;
    margin-right:auto
}

.w3-content {
    max-width:980px
}

.w3-auto {
    max-width:1140px
}

.w3-center .w3-bar {
    display:inline-block;
    width:auto;
}

.w3-bar-block.w3-center .w3-bar-item {
    text-align:center;
}

.w3-center {
    text-align:center!important
}

.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col {
    padding:0 8px
}

.w3-border-0 {
    border:0!important
}

.w3-border {
    border:1px solid #ccc!important
}

.w3-border-dark-grey,.w3-hover-border-dark-grey:hover,.w3-border-dark-gray,.w3-hover-border-dark-gray:hover {
    border-color:#616161!important
}

.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter {
    float:left;
    width:100%;
}

.w3-col.s4 {
    width:33.33333%;
}

.w3-padding-large {
    padding:10px 20px!important;
}

.w3-red,.w3-hover-red:hover {
    color:#fff!important;
    background-color:var(--ccred);
}

.menu {
    display: none;
}

menu {
    display: block;
}

.w3-padding-32 {
    padding-top:32px!important;
    padding-bottom:32px!important;
}

.w3-white,.w3-hover-white:hover {
    color:#000!important;
    background-color:#fff!important;
}

.w3-right {
    float:right!important;
}

.w3-tag {
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center;
}

.w3-round,.w3-round-medium {
    border-radius:4px;
}

.w3-text-grey,.w3-hover-text-grey:hover,.w3-text-gray,.w3-hover-text-gray:hover {
    color:#757575!important;
}

.w3-grey,.w3-hover-grey:hover,.w3-gray,.w3-hover-gray:hover {
    color:#000!important;
    background-color:#9e9e9e!important;
}